.login-container {
    background-image: url("https://images.unsplash.com/photo-1491951931722-5a446214b4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=60");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    width: 100%;
}

.login-container::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.3;
}

.login-form {
    background-color: #ffffff;
    z-index:2;
    position: absolute;
    left:50%; 
    top:50%; 
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dcdcdc;
    border: none;
}