.product-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=60");
    background-position: center;
    background-size: cover;
}

.product-container::after{
    content: "";
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity:0.6;
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    z-index: 2;
}

.product-card-container a {
    border: 1px solid #fff;
    height:150px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    z-index: 2;
}

.product-card-container a:hover{
    font-size:24px;
    box-shadow: 13px 15px 28px -4px rgba(255,255,255,1);
}